@use "./mixins" as *;
@use "./variables" as *;
@use "./typography" as *;

//constants
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-width: 250px;
  font-family: "Avenir", sans-serif;
  // letter-spacing: $spacing;
  // line-height: $line-height;
}

a {
  text-decoration: none;
  color: $color-white;
}
//text sizing
b {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2.75rem;
  }
}

footer {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

ul {
  list-style: none;
}

//navbar
.navbar {
  background-color: $color-bandSite-black;
  color: $color-white;
  width: 100%;

  //tablet
  @include tablet {
    height: 10vw;
  }

  &__container {
    width: 100%;
    @include flex-center(column);
    padding: 1rem 0 0 0;

    //tablet
    @include tablet {
      height: 100%;
      width: 50%;
      @include flex-center(row, space-between);
      padding: 0;
    }
  }
  &__header {
    text-align: center;
    font-weight: 500;

    //tablet
    @include tablet {
      font-weight: 400;
      font-size: 1.75rem;
      padding: 0 0 0 2rem;
    }
  }

  &__list {
    @include flex-center(row, space-between);
    width: 100%;
    height: 30%;

    //tablet nav
    @include tablet {
      height: 100%;
      width: 50%;
    }

    &-item {
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 0.875rem;
      cursor: pointer;
      padding: 0.5rem 0;

      //tablet
      @include tablet {
        margin: 0 auto;
        justify-self: center;
        align-content: center;
        font-size: 1.7vw;
        padding: 0rem 2rem;
      }

      &:hover {
        color: lighten($color-white, 10%);
      }

      &--active {
        border-bottom: 0.25rem solid $color-white;
        font-weight: 600;

        @include tablet {
          padding: 0.5rem 1rem 0.25rem;
        }
      }
    }
  }
}
