@use './mixin' as *;
@use './variables' as *;


//constants
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}


body {
    font-family: "Avenir", sans-serif;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

//desktop and tables text styles
// h1 {
//     font-size: 60px;
//     line-height: 68px;
//     font-weight: 700;
// }

// h2 {
//     font-size: 36px;
//     line-height: 44px;
//     font-weight: 700;
// }

// h3 {
//     font-size: 24px;
//     line-height: 44px;
//     font-weight: 600;
// }

// b {
//     font-size: 14px;
//     line-height: 22px;
//     font-weight: 400;
// }

// footer {
//     font-size: 14px;
//     line-height: 22px;
//     font-weight: 400;
// }

// mobile text styles

h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

b {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

footer {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

