@use "./mixins" as *;
@use "./variables" as *;
@use "./typography" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 250px;
  font-family: "Avenir", sans-serif;
}

a {
  text-decoration: none;
  color: $color-white;
}

b {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2.75rem;
  }
}

footer {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

ul {
  list-style: none;
}

input {
  border: none;
}

button {
  border: none;
}

.navbar {
  background-color: $color-bandSite-black;
  color: $color-white;
  width: 100%;

  @include tablet {
    height: 10vw;
  }

  @include desktop {
    height: 6vw;
  }

  &__container {
    width: 100%;
    @include flex-center(column);
    padding: 1rem 0 0 0;

    @include tablet {
      @include flex-center(row, space-between);
      height: 100%;
      width: 50%;
      padding: 0;
    }

    @include desktop {
      width: 25%;
      padding-left: 4rem;
    }
  }

  &__header {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.5rem 0;

    @include tablet {
      font-weight: 400;
      font-size: 2rem;
      padding: 0 3rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__list {
    @include flex-center(row, space-evenly);
    width: 100%;

    @include tablet {
      height: 100%;
      width: 50%;
    }

    &-item {
      @include flex-center;
      height: 100%;
      width: 100%;
      font-size: 1rem;
      cursor: pointer;
      padding: 0.5rem 0;
      transition: border-bottom 0.2s ease;
      border-bottom: 0.25rem solid $color-bandSite-black;

      @include tablet {
        font-size: 1.25rem;
        width: auto;
        padding: 0;
        margin: 0 1.5rem;
      }
      @include desktop {
        font-size: 1rem;
        padding: 0;
        margin: 0 1.5rem;
      }

      &:hover {
        border-bottom: 0.25rem solid $color-alabaster;

        @include tablet {
          background-color: $color-bandSite-black;
        }
      }

      &--active {
        border-bottom: 0.25rem solid $color-white;
        font-weight: 600;
      }
    }
  }
}

.footer {
  @include flex-center(column, center, start);
  padding: 1rem;
  background-color: $color-bandSite-black;
  color: $color-white;
  position: relative;

  @include tablet {
    padding: 2.5rem;
  }

  @include desktop {
    padding: 3rem 8rem 1rem;
  }

  &__container {
    width: 100%;
    @include flex-center(column, start, space-between);

    
      &-top {
        @include tablet {
          @include flex-center();
        }

        @include desktop {
          padding: 0 0 1rem;
        }
      }

      &-middle {
        padding: 0 0 1.5rem;

        @include tablet {
          width: 100%;    
          @include flex-center(row, space-between);
        }

        @include desktop {
          @include flex-center(row, flex-start, flex-start);
          width: 40%;
        }
      }
  }

  &__header {
    padding: 0.5rem 0rem;
    font-size: 2rem;
    font-weight: 600;

    @include tablet {
      font-size: 3rem;
      padding: 1rem 0;
      white-space: nowrap;
    }
    @include desktop {
      padding: 1rem 3rem 1rem 0;
    }
  }

  &__logo-list {
    @include flex-center(row, space-between, start);
    width: 85%;
    padding: 0.5rem 0;

    @include tablet {
      @include flex-center(row, space-around, baseline);
      padding-left: 1rem;
    }

    &-img {
      width: 2rem;
      height: 2rem;

      @include tablet {
        width: 1.75rem;
        height: 1.75rem;
      }
    }

    &-item {
      padding: 1.25rem;
    }
  }

  &__booking {
    padding: 0.5rem 0 1.25rem;
    font-size: 1rem;
    width: 100%;

    @include tablet {
      font-size: 1.125rem;
      white-space: nowrap;
    }
    @include desktop {
      font-size: 1.25rem;
      padding: 0 5rem 0 0;
    }

    &-agent {
      font-weight: 600;
      padding: 0.5rem 0 0;

      @include tablet {
        padding: 1rem 0 0;
      }
    }

    &-agency {
      padding: .125rem 0 0.5rem;

      @include tablet {
        padding: 0 0 1rem;
      }
    }
    &-address {
      padding: 1rem 0rem 1.25rem;
      line-height: 1.375rem;

      @include tablet {
        padding: 1rem 0 2rem;
      }
    }
    &-email {
      padding: 0.25rem 0;
    }
  }

  &__watermark {
    padding: 2rem 0 1rem;
    

    @include tablet {
      position: absolute;
      top: 1rem;
      right: 3rem;
    }

    @include desktop {
      position: absolute;
      top: 1rem;
      right: 12rem;
    }

    &-title {
      font-size: 2rem;
      font-weight: 400;

      @include tablet {
        font-size: 2rem;
        font-weight: 300;
      }

      @include desktop {
        font-size: 2.5rem;
      }
    }
  }

  &__copyright {
    font-size: 1rem;

    @include tablet {
      font-size: 1.125rem;
      padding: 3rem 0 0;
    }

    @include desktop {
      font-size: 1.25rem;
      padding: 3rem 0 2rem;
    }
  }
}
