//colors
$color-bandSite-black: #323232;
$color-bandSite-black--overlay: #32323280;
$color-bandSite-darkBlack: #000000;
$color-silver: #afafaf;
$color-mercury: #e1e1e1;
$color-white: #ffffff;
$color-alabaster: #fafafa;

//responsiveness sizings
$tablet-min-width: 48rem;
$desktop-min-width: 80rem;

