//colors
$color-BandSite-black: #323232;
$color-bandSite-DarkBlack: #000000;
$color-Silver: #afafaf;
$color-Mercury: #e1e1e1;
$color-White: #ffffff;
$color-Alabaster: #fafafa;

//responsiveness sizing
$tablet-min-width: 48rem;
$desktop-min-width: 80rem;