@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

.hero {
  position: relative;
  width: 100%;
  height: 100%;

  &__container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include flex-center(row, flex-start);

    @include desktop {
      height: 50vw;
    }
  }

  &__img {
    width: 100%;
    height: 58vw;
    object-fit: cover;

    @include tablet {
      object-position: bottom;
    }

    @include desktop {
      object-position: top;
    }
  }
  &__overlay {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    background-color: $color-bandSite-black--overlay;
    z-index: 1;
  }

  &__header {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 7.8vw;
    z-index: 2;
    padding: 1rem;

    @include tablet {
      padding: 5vw;
    }

    @include desktop {
      font-size: 4.5vw;
      padding: 10vw;
    }
  }
}

.about {
  @include flex-center(column, center, flex-start);
  padding: 1rem;

  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    padding: 2rem 10%;
  }

  &__header {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 600;

    @include tablet {
      font-size: 2.25rem;
      color: $color-bandSite-black;
    }
  }

  &__container {
    @include flex-center(column, center, flex-start);

    @include tablet {
      padding: 1rem 3.5rem;
    }

    @include desktop {
      padding: 0 6rem;
    }
  }

  &__img {
    width: 100%;
    height: 48vw;
    object-fit: cover;
    object-position: bottom;

    @include tablet {
      height: 43vw;
      object-position: center;
    }
    @include desktop {
      height: 36vw;
      padding-top: 1rem;
    }
  }

  &__quote {
    padding: 1.5rem 0 0;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;

    @include tablet {
      padding: 2rem 0 0;
      font-size: 1.375rem;
      line-height: 2rem;
    }

    &-author {
      padding: 0.5rem 0;
      font-weight: 600;
      font-size: 0.875rem;

      @include tablet {
        padding: 1rem 0 2rem;
        font-size: 1.25rem;
      }
    }
  }

  &__name {
    padding: 1.25rem 0 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;

    @include tablet {
      padding: 2rem 0 1rem;
      font-weight: 600;
      font-size: 1.75rem;
    }
  }

  &__text-container {
    width: 96%;
    flex-wrap: wrap;

    @include tablet {
      width: 100%;
      @include flex-center(row, space-between, flex-start);
      gap: 2rem;
    }

    @include desktop {
      gap: 3rem;
    }
  }

  &__text {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    padding: 0.5rem 0;

    @include tablet {
      font-size: 1rem;
      line-height: 2rem;
      flex: 1;
    }

    @include desktop {
      line-height: 1.5rem;
    }
  }
}

.gallery {
  @include flex-center(column, center, flex-start);
  padding: 2rem 1rem 0.5rem;
  background-color: $color-alabaster;

  @include tablet {
    padding: 2rem 2rem 1.5rem;
    color: $color-bandSite-black;
  }

  @include desktop {
    padding: 2rem 10%;
  }

  &__container {
    width: 100%;
    height: 100%;
    @include flex-center(column);

    @include tablet {
      @include flex-center(row, space-between, flex-start);
      flex-wrap: wrap;
    }
  }

  &__header {
    padding: 1rem 0;
    font-size: 1.6875rem;
    font-weight: 600;

    @include tablet {
      font-size: 2.5rem;
      padding: 1rem 0;
    }

    @include desktop {
      padding: 1rem 0 2rem;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    padding: 0.5rem 0;
    overflow: hidden;

    @include tablet {
      width: 31%;
      padding: 0.75rem 0;
    }

    @include desktop {
      transition: filter 0.5s ease, transform 0.5s ease;
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
      }
    }
  }
}

.conversation {
  width: 100%;
  padding: 1rem;

  @include tablet {
    padding: 4rem 2rem;
  }
  @include desktop {
    padding: 4rem 8em;
  }

  &__header {
    font-weight: 600;
    color: $color-bandSite-black;
  }

  &__form {
    @include flex-center(column, center, flex-start);
    height: 100%;
    padding: 0;

    @include tablet {
      @include flex-center(column);
      padding: 0rem 3.25rem;
    }

    @include desktop {
      padding-top: 2rem;
      margin: 0 auto;
      width: 65%;
    }

    &-container {
      width: 100%;
      @include flex-center(row, normal, flex-start);
    }
  }

  &__profile {
    @include flex-center();
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    padding: 0 3rem 0 0;

    &-img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: $color-mercury;
      position: absolute;
      object-fit: cover;
      top: 2.5rem;
      left: 0;
    }
  }

  &-comment__container {
    width: 100%;
    padding: 0.5rem 0 0 1rem;
  }

  &__name {
    &-header {
      color: $color-silver;
      font-size: 0.75rem;
      font-weight: 600;
      padding: 0.5rem 0;
    }
    &-input {
      @include input-style;

      &--error {
        border-color: $color-red;
      }
    }
  }

  &__comment {
    &-header {
      color: $color-silver;
      font-size: 0.75rem;
      font-weight: 600;
      padding: 1.75rem 0 0.25rem;
    }

    &-input {
      @include input-style;
      resize: none;
      height: 6rem;

      &--error {
        border-color: $color-red;
      }
    }
  }

  &__submit {
    padding: 0.75rem 0 0;
    @include flex-center(row, flex-end);

    &-button {
      @include button-style;

      @include tablet {
        width: 25%;
        font-size: 1rem;
        padding: 0.75rem 0.25rem 0.5rem;
      }
    }
  }

  &-post {
    &__container {
      @include flex-center(column, flex-start);
      width: 100%;

      @include tablet {
        padding: 1rem 3.25rem;
      }

      @include desktop {
        margin: 0 auto;
        width: 65%;
      }
    }

    &__content {
      width: 100%;
      @include flex-center(row, space-between, flex-start);
      padding: 1rem 0rem 0 3rem;

      &-left {
        padding: 1rem;
        position: relative;
      }

      &-right {
        width: 90%;
        padding: 1rem 0;
        @include flex-center(column, flex-start);

        &-top {
          width: 100%;
          padding: 0 0 1rem;
          @include flex-center(row, space-between);
          gap: 1rem;
        }

        &-bottom {
          width: 100%;
          @include flex-center(column, space-between, flex-start);

          @include tablet {
            @include flex-center(row, space-between);
          }
        }
      }
    }

    &__button-container {
      @include flex-center(row, space-between, center);
      width: 100%;
      flex: 1;

      padding: 0.5rem 0rem 0;
      @include tablet {
        max-width: 30%;
        @include flex-center(column);
        padding: 0 0 0 2rem;
      }

      @include desktop {
        max-width: 31%;
      }
    }

    &__btn {
      @include button-style;
      padding: 0.25rem;
      margin: 0.25rem;
      @include desktop {
        margin: 0.25rem 0;
      }

      &--blue {
        &:hover {
          background-color: lighten($color-blue, 15%);
        }
      }
      &--red {
        &:hover {
          background-color: darken($color-red, 5%);
        }
      }
    }

    &__like-counter {
      width: 100%;
    }

    &__line-break {
      @include line-break;

      &-top {
        @include tablet {
          width: 100%;
          padding: 1rem 3.25rem;
        }
      }
    }

    &__profile-pic {
      &-container {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: $color-mercury;
        position: absolute;
        padding: 1rem 0 0 0;
        top: 0.8rem;
        right: 1.75rem;
      }
    }

    &__posted {
      font-size: 1.25;
      color: $color-silver;
      padding: 0;
    }

    &__name {
      font-weight: 600;
      font-size: 1.25rem;
      padding: 0;
    }

    &__comment {
      padding: 0;
      max-width: 100%;
      word-wrap: break-word;

      @include tablet {
        max-width: 60%;
      }
    }
  }
}
