@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf"), url("/assets/fonts/Alternative files/AvenirNextLTPro.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf"), url("/assets/fonts/Alternative files/AvenirNextLTProDemi.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf"), url("/assets/fonts/Alternative files/AvenirNextLTProBold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Avenir", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.navbar {
  background-color: #323232;
  color: #ffffff;
}
.navbar__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0 0;
}
.navbar__header {
  text-align: center;
  font-weight: 500;
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.navbar__list-item {
  padding: 0.25rem 0;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  cursor: pointer;
}
.navbar__list-item:hover {
  color: white;
}
.navbar__list-item--active {
  border-bottom: 0.3rem solid #ffffff;
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

b {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

footer {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.hero__img {
  width: 100%;
  height: 58vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__overlay {
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.5019607843);
  z-index: 1;
}
.hero__header {
  position: absolute;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  z-index: 2;
  padding: 1rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem;
}
.about__header {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}
.about__img {
  width: 100%;
  height: 48vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.about__quote {
  padding: 1rem 0 0;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex: 1;
}
.about__quote-author {
  padding: 0.5rem 0;
  font-weight: 600;
  font-size: 0.875rem;
}
.about__name {
  padding: 1rem 0;
  font-size: 0.875rem;
}
.about__container {
  display: flex;
  width: 96%;
}
.about__container-text {
  flex: 1;
  font-size: 0.8125rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0.5rem 1rem;
  background-color: #fafafa;
}
.gallery__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__header {
  padding: 1rem 0 0;
  font-size: 1.5rem;
  font-weight: 600;
}
.gallery__img {
  width: 100%;
  padding: 0.5rem 0;
}/*# sourceMappingURL=bio.css.map */