@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

.hero {
  position: relative;
  width: 100%;
  height: 80vw;

  @include desktop {
    height: 45vw;
  }

  &__container {
    @include flex-center(row, center, start);
    height: 100%;
    width: 100%;

    overflow: hidden;

    @include desktop {
      padding-bottom: 8rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;

    @include tablet {
      object-position: top;
    }

    @include desktop {
    }
  }
  &__overlay {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    background-color: $color-bandSite-black--overlay;
    z-index: 1;
  }

  &__content {
    @include flex-center(column, space-between, flex-start);
    width: 100%;
    position: absolute;
    padding: 4vw;
    z-index: 2;
    color: $color-white;
    inset: 0;
    overflow: hidden;

    @include tablet {
      @include flex-center(column, space-around, flex-start);
      padding: 2rem 4vw;
    }
    @include desktop {
      @include flex-center();
      padding: 10vw;
    }
  }

  &__album {
    padding: 1rem 0 1rem;
    font-size: 4.5vw;

    @include tablet {
      font-size: 2rem;
      font-weight: 600;
    }
    @include desktop {
      font-size: 2.25rem;
      padding: 1.5rem 0;
    }
  }

  &__header {
    position: relative;
    color: $color-white;
    width: 80%;
    font-weight: 600;
    font-size: 8vw;
    padding: 1rem 0 0;
    line-height: 9vw;

    @include tablet {
      width: 80%;
      font-size: 3.75rem;
      line-height: 8vw;
      padding-bottom: 0;
    }

    @include desktop {
      width: 90%;
      font-size: 5rem;
      padding: 0.5rem 0;
      line-height: 5.5rem;
    }
  }

  &__soundCloud {
    width: 100%;
    height: 50%;
    padding: 1rem 0;

    @include tablet {
      width: 60%;
      height: 40%;
      padding: 0;
    }

    @include desktop {
      width: 70%;
      height: 50%;
    }
  }
}

.shows {
  @include flex-center(column, center, flex-start);
  padding: 1rem 0;

  @include tablet {
    padding: 1rem;
  }

  @include desktop {
    padding: 4rem 10rem;
    @include flex-center(row, center, flex-start);
  }

  &__display {
    width: 100%;

    @include tablet {
      padding-left: 4rem;
    }
    @include desktop {
      padding-left: 0;
    }
  }
  &__header {
    padding: 1.25rem 0.5rem 0;
    font-size: 2rem;
    font-weight: 600;

    @include tablet {
      padding: 2rem 4.5rem;
    }

    @include desktop {
      font-size: 3rem;
      align-self: flex-start;

      padding: 1rem 7rem 0 0;
    }

    &-row {
      display: none;

      &-container {
        @include tablet {
          @include flex-center(row, space-between);
          width: 100%;
          padding: 0.25rem 1.25rem;

        }

        @include desktop {
          padding: 0.25rem 2rem;
        }
      }
      
      &-item {
          padding: 0.25rem 0.75rem;
          flex: 1;
        }

      @include tablet {
        @include flex-center(row, space-between, flex-start);
        padding-right: 1.5rem;
        flex: 1;
        font-size: 0.875rem;
        font-weight: 600;
        color: $color-silver;
        width: 100%;

        
      }

      &-dummy-btn {
        display: none;
        @include tablet {
          display: flex;
          // @include button-style;
          background-color: $color-white;
          width: 30%;
        }
        @include desktop {
          width: 20%;
        }
        
        
      }
    }
  }
  &__container {
    width: 100%;
    padding: 0.25rem 1.25rem;
    &-top {
      height: 100%;
      padding: 1rem 0 0;

      @include tablet {
        @include flex-center(row, space-between);

        &--off {
          pointer-events: none;
        }
      }

      @include desktop {
        padding: 0.5rem 0.75rem;
        margin: 0.25rem 0;
        transition: all 0.25s ease;

        &--darken {
          border-radius: 0.5rem;
          background-color: $color-mercury;
        }

        &:hover {
          border-radius: 0.5rem;
          background-color: $color-mercury;
        }
      }
    }
  }

  &__list {
    @include tablet {
      @include flex-center(row, space-between, flex-start);
      flex: 1;
      padding-right: 1.5rem;
    }

    &-item {
      padding: 0.5rem 0.75rem;
      flex: 1;

      &-title {
        font-size: 0.875rem;
        font-weight: 600;
        color: $color-silver;

        @include tablet {
          display: none;
        }

        &--on {
          display: block;
        }
      }

      &-content {
        font-size: 1.25rem;

        @include tablet {
          font-size: 1rem;
        }

        &--bold {
          font-weight: 600;
        }
      }
    }
  }

  &__button {
    @include button-style;
    margin: 1rem 0 0;

    &--off {
      background-color: $color-white;
      pointer-events: none;

      &:hover {
        background-color: $color-white;
      }
    }

    @include tablet {
      margin: 0;
      width: 30%;
    }

    @include desktop {
      width: 20%;
    }
  }

  &__line-break {
    @include line-break;

    &--off {
      display: none;
    }

    @include tablet {
      width: 100%;
      margin: 0 auto;
    }

    @include desktop {
      padding: 0;
    }
  }
}
