@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf"), url("/assets/fonts/Alternative files/AvenirNextLTPro.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf"), url("/assets/fonts/Alternative files/AvenirNextLTProDemi.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf"), url("/assets/fonts/Alternative files/AvenirNextLTProBold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-width: 250px;
  font-family: "Avenir", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

b {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  b {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  h3 {
    font-size: 1.5rem;
    line-height: 2.75rem;
  }
}

footer {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  footer {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

ul {
  list-style: none;
}

input {
  border: none;
}

button {
  border: none;
}

.navbar {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
}
@media (min-width: 48rem) {
  .navbar {
    height: 10vw;
  }
}
@media (min-width: 80rem) {
  .navbar {
    height: 6vw;
  }
}
.navbar__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0 0;
}
@media (min-width: 48rem) {
  .navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
    padding: 0;
  }
}
@media (min-width: 80rem) {
  .navbar__container {
    width: 25%;
    padding-left: 4rem;
  }
}
.navbar__header {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  padding: 0.5rem 0;
}
@media (min-width: 48rem) {
  .navbar__header {
    font-weight: 400;
    font-size: 2rem;
    padding: 0 3rem;
  }
}
@media (min-width: 80rem) {
  .navbar__header {
    font-size: 1.5rem;
  }
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
@media (min-width: 48rem) {
  .navbar__list {
    height: 100%;
    width: 50%;
  }
}
.navbar__list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
  transition: background-color 0.2s ease;
}
@media (min-width: 48rem) {
  .navbar__list-item {
    font-size: 1.25rem;
    width: auto;
    padding: 0;
    margin: 0 1.5rem;
  }
}
@media (min-width: 80rem) {
  .navbar__list-item {
    font-size: 1rem;
    padding: 0;
    margin: 0 1rem;
  }
}
.navbar__list-item:hover {
  background-color: #585858;
  border-bottom: 0.25rem solid #fafafa;
  font-weight: 600;
}
.navbar__list-item--active {
  border-bottom: 0.25rem solid #ffffff;
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  background-color: #323232;
  color: #ffffff;
  position: relative;
}
@media (min-width: 48rem) {
  .footer {
    padding: 2.5rem;
  }
}
@media (min-width: 80rem) {
  .footer {
    padding: 3rem 8rem 1rem;
  }
}
.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: space-between;
}
@media (min-width: 48rem) {
  .footer__container-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 48rem) and (min-width: 80rem) {
  .footer__container-top {
    padding: 0 0 1rem;
  }
}
@media (min-width: 48rem) {
  .footer__container-middle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 48rem) and (min-width: 80rem) {
  .footer__container-middle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.footer__header {
  padding: 0.5rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .footer__header {
    font-size: 3rem;
    padding: 1rem 0;
  }
}
.footer__logo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  padding: 0.5rem 0;
}
@media (min-width: 48rem) {
  .footer__logo-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 20%;
    padding-left: 3rem;
  }
}
@media (min-width: 80rem) {
  .footer__logo-list {
    width: 15%;
  }
}
.footer__logo-list-img {
  width: 1.5rem;
  height: 1.5rem;
}
@media (min-width: 48rem) {
  .footer__logo-list-img {
    width: 1.75rem;
    height: 1.75rem;
  }
}
.footer__booking {
  padding: 0.5rem 0 0.25rem;
  font-size: 0.875rem;
}
@media (min-width: 48rem) {
  .footer__booking {
    font-size: 1.25rem;
  }
}
@media (min-width: 80rem) {
  .footer__booking {
    padding: 0 3rem 0 0;
  }
}
.footer__booking-agent {
  font-weight: 600;
  padding: 0.5rem 0 0.25rem;
}
@media (min-width: 48rem) {
  .footer__booking-agent {
    padding: 1rem 0;
  }
}
.footer__booking-address {
  padding: 1rem 0;
}
@media (min-width: 48rem) {
  .footer__booking-address {
    padding: 1rem 0 2rem;
  }
}
.footer__booking-email {
  padding: 0.25rem 0;
}
.footer__watermark {
  padding: 2rem 0 0.5rem;
}
@media (min-width: 48rem) {
  .footer__watermark {
    position: absolute;
    top: 1rem;
    right: 3rem;
  }
}
@media (min-width: 80rem) {
  .footer__watermark {
    position: absolute;
    top: 1rem;
    right: 12rem;
  }
}
.footer__watermark-title {
  font-weight: 400;
}
@media (min-width: 48rem) {
  .footer__watermark-title {
    font-size: 2rem;
    font-weight: 300;
  }
}
@media (min-width: 80rem) {
  .footer__watermark-title {
    font-size: 1.5rem;
  }
}
.footer__copyright {
  font-size: 0.6875rem;
}
@media (min-width: 48rem) {
  .footer__copyright {
    font-size: 1.25rem;
    padding: 3rem 0 0;
  }
}
@media (min-width: 80rem) {
  .footer__copyright {
    padding: 3rem 0 2rem;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media (min-width: 80rem) {
  .hero__container {
    height: 50vw;
  }
}
.hero__img {
  width: 100%;
  height: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (min-width: 48rem) {
  .hero__img {
    -o-object-position: bottom;
       object-position: bottom;
  }
}
@media (min-width: 80rem) {
  .hero__img {
    -o-object-position: top;
       object-position: top;
  }
}
.hero__overlay {
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.5019607843);
  z-index: 1;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
}
.hero__album {
  position: relative;
  color: white;
  padding: 0 1rem;
  z-index: 2;
}
.hero__header {
  position: relative;
  color: white;
  width: 60%;
  font-weight: 600;
  font-size: 5vw;
  z-index: 2;
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .hero__header {
    padding: 5vw;
  }
}
@media (min-width: 80rem) {
  .hero__header {
    font-size: 4.5vw;
    padding: 10vw;
  }
}/*# sourceMappingURL=shows.css.map */